	.homepage {
		background-image: url("../img/dentist_bg.png");
		background-repeat: no-repeat;
		background-size: cover;
  	background-position-x: center;
  	background-position-y: top;
  }


  .ap-text {
  	text-align: center; 
  	margin-top: 14%;
  	color: red !important;
  }


  .hyper {
  	text-decoration: none !important;
  }


  h1 {
		color: black;
		font-size: 125px;
		text-align: center;
  }


  body {
  	font-family: Lato;
  }


  caption {
  	font-size: 22pt; 
  	margin: 10px 0 20px 0; 
  	font-weight: 700;
  }


  table.calendar_table {
  	width:100%; 
  	border:1px solid #000;
  }


  td.day {
  	width: 14%; 
  	height: 140px; 
  	border: 1px solid #000; 
  	vertical-align: top;
		background-color: #a2d9f1;
  	font-size: 14pt; 
  	font-weight: 700;
  }


  td.day_wk {
  	width: 14%; 
  	height: 140px; 
  	border: 1px solid #000; 
  	vertical-align: top;
		background-color: #7ac9eb;
  	font-size: 14pt; 
  	font-weight: 700;
  }


  th.header {
		background-color: #0d4259;
  	color: #fff; 
  	font-size: 14pt; 
  	padding: 5px;
  }


  .not-month {
		background-color: #263740;
  }


  td.today {
  	background-color: #bfd0d9;
  }


  td.day span.today-date {
  	font-size: 14pt; 
  	font-weight: 700;
  }


  table.hours_table {
  	width:35%; 
  	border:1px solid #000;
		align: center !important;
  }


  td.hours_table {
		align: center !important;
  	width: 35%; 
  	height: 70px; 
  	border: 1px solid #000; 
  	vertical-align: top;}
  }